p{
    text-align: justify;
}

footer{
    padding: 3px;
    background-color: orangered;
    color: white;
    font-size: small;
}

#text-footer{
    text-align: center;
}

#about-content{

    height: 100%;
    margin-bottom: 10rem;
}

#product-image{
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#finish-buying{
    background-color: orangered;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
    padding: 5px;
    box-shadow: gray;
}

#finish-buying:hover{
    background-color: green;
    padding: 10px;
}

.card{
    margin: 5px;
}

.text-about{
    text-align: justify;
    font-size: large;
    margin-top: 50px;
    margin-left: 35px;
    margin-right: 35px;
}

.product-container{

    align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    
    
}

.carousel-container{
    width:70%;
    margin-top: 10px;
}

@media (min-width: 800px){
    .text-about{
        margin-left: 200px;
        margin-right: 200px;
    }

    .product-container{
        padding-left: 200px;
        padding-right: 200px;
    }

    .carousel-container{
        width: 40%;
        margin-top: 20px;
    }
}

@media (max-width: 300px){
    .carousel-container{
        width: 100%;
        margin-top: 5px;
    }

}
